@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #6a3093, #a044ff);
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info_block{
    height: 60vh;
    width: 40%;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info_block .title h1{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.div_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_img img{
    margin-top: 20px;
    width: 40%;
    display: flex;
}

.div_btn{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_btn button{
    padding: 10px 30px;
    border-radius: 5px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: whitesmoke;
    border-color: #38ef7d;
}

.game_block{
    height: 60vh;
    width: 40%;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game_block h1{
    margin-bottom: 30px;
    font-size: 3vmax;
    
}
.game_block input{
    padding: 10px 20px;
}

.game_block button{
    margin-top: 20px;
    padding: 10px 20px;
    background: #11998e;
    border-color: #11998e;
    color: whitesmoke;
    border-radius: 10px;
}

.game_block .message{
    margin-bottom: 20px;
    font-size: 2vmax;
}

.game_block .score{
    margin-top: 20px;
    font-weight: bold;
}

@media only screen and (max-width:1300px) and (min-width:851px) {
    .info_block{
        height: 65vh;
        width: 50%;
    }
}

@media only screen and (max-width:850px) {
    .info_block{
        height: 60vh;
        width: 80%;
    }

   .div_img img{
       width: 50%;
   }

   .game_block{
       height: 60vh;
       width: 80%;
   }

   .game_block h1{
       font-size: 5vmax;
   }

   .game_block .message{
       font-size: 3vmax;
   }
}