@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #6a3093, #a044ff);
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.start_block{
    height: 60%;
    width: 40%;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start_block .title{
    height: 20%;
}

.start_block .title h1{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.div_img{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_img img{
    margin-top: 20px;
    width: 40%;
    display: flex;
}

.div_btn{
    height: 40%;
    width: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.div_btn button{
    padding: 10px 30px;
    border-radius: 5px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: whitesmoke;
    border-color: #38ef7d;
}
.instruction_block{
    height: 60vh;
    width: 40%;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instruction_block .inst_list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instruction_block h1{
    font-size: 3vmax;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.instruction_block .inst_list .info{
    font-size:1.5vmax;
}

.instruction_block button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #11998e;
    color: whitesmoke;
}


.game_block{
    height: 60vh;
    width: 40%;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game_block h1{
    margin-bottom: 30px;
    font-size: 3vmax;
    
}
.game_block input{
    width:80%;
    padding: 10px 20px;

}

.game_block button{
    margin-top: 20px;
    padding: 10px 20px;
    background: #11998e;
    border-color: #11998e;
    color: whitesmoke;
    border-radius: 10px;
}

.game_block .message{
    margin-bottom: 20px;
    font-size: 2vmax;
}

.game_block .score{
    margin-top: 20px;
    font-weight: bold;
}

.game_block .restart{
    display: none;
}
#num{
    text-align: center;
}

.table_block{
    width:50%;
    height: 60vh;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 10px #4b4949;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table_block h1{
    margin-bottom: 20px;
    font-size: 3vmax;
}

.table_block .t_block{
    width: 80%;
    overflow-y: auto;

}

.table_block .t_block thead{
    text-align: center;
}
.table_block .t_block tbody{
    text-align: center;
}
@media only screen and (max-width:1300px) and (min-width:851px) {
    .start_block{
        height: 65vh;
        width: 50%;
    }
}

@media only screen and (max-width:850px) {
    .start_block{
        height: 60vh;
        width: 80%;
    }

   .div_img img{
       width: 50%;
   }

   .instruction_block{
       height: 60vh;
       width: 80%;
   }

   .instruction_block h1{
       font-size: 4vmax;
   }
    
   .instruction_block .inst_list .info{
       font-size: 2vmax;
   }

   .game_block{
       height: 60vh;
       width: 80%;
   }

   .game_block h1{
       font-size: 5vmax;
   }

   .game_block .message{
       font-size: 3vmax;
   }

   .table_block{
       height: 60vh;
       width: 80%;
   }
}